# ECO3063: Computational Method in Macroeconomics Coursework Question 1

In [1]:
# Importing relevant libraries
import numpy as np
import pandas as pd
import scipy.optimize
import seaborn as sns
from pandas_datareader import data as pdr
import matplotlib.pyplot as plt

## Calibration and Welfare Analysis (30%)

In [2]:
# Reading in the Prescott Data
prescott = pd.read_csv('data_prescott.csv')

In [3]:
prescott

       period country     h   tau   c2y
0   1993-1996     DEU  19.3  0.59  0.74
1         NaN     FRA  17.5  0.59  0.74
2         NaN     ITA  16.5  0.64  0.69
3         NaN     CAN  22.9  0.52  0.77
4         NaN     GBR  22.8  0.44  0.83
5         NaN     JPN  27.0  0.37  0.68
6         NaN     USA  25.9  0.40  0.81
7   1970-1974     DEU  24.6  0.52  0.66
8         NaN     FRA  24.4  0.49  0.66
9         NaN     ITA  19.2  0.41  0.66
10        NaN     CAN  22.2  0.44  0.72
11        NaN     GBR  25.9  0.45  0.77
12        NaN     JPN  29.8  0.25  0.60
13        NaN     USA  23.5  0.40  0.74

In [4]:
prescott_9396 = prescott.iloc[:7,:].reset_index()
prescott_9396 = prescott_9396.drop(['index'], axis=1)

In [5]:
prescott_9396

      period country     h   tau   c2y
0  1993-1996     DEU  19.3  0.59  0.74
1        NaN     FRA  17.5  0.59  0.74
2        NaN     ITA  16.5  0.64  0.69
3        NaN     CAN  22.9  0.52  0.77
4        NaN     GBR  22.8  0.44  0.83
5        NaN     JPN  27.0  0.37  0.68
6        NaN     USA  25.9  0.40  0.81

In [6]:
prescott_7074 = prescott.iloc[7:,:].reset_index()
prescott_7074 = prescott_7074.drop(['index'], axis=1)

In [17]:
prescott_7074

      period country     h   tau   c2y
0  1970-1974     DEU  24.6  0.52  0.66
1        NaN     FRA  24.4  0.49  0.66
2        NaN     ITA  19.2  0.41  0.66
3        NaN     CAN  22.2  0.44  0.72
4        NaN     GBR  25.9  0.45  0.77
5        NaN     JPN  29.8  0.25  0.60
6        NaN     USA  23.5  0.40  0.74

Few Comments on what the columns represent

**Period** = The time period being observers
<br>
**Country** = The countries being observed in the experiment
<br>
**h** = Hours worked per person aged 15-64 per week
<br>
**tau** = Effective Tax Rate
<br>
**c2y** = Consumption-Output Ratio

## Question 1A

In [8]:
#Setting the predetermined parameter(s)
Theta = 0.32 #Production parameter, capital share
Alpha = 1.54 #Starting calibration metric

In [9]:
#Model Function for 1993-1996
model_9396 = 100 * (1-Theta) / (Alpha/(1-prescott_9396['tau']) * prescott_9396['c2y']) + (1-Theta)

In [10]:
model_9396

0    25.144724
1    25.144724
2    23.717832
3    28.205721
4    30.471895
5    41.589091
6    33.388033
dtype: float64

In [11]:
#Model function for 1970-1974
model_7074 = 100 * (1-Theta) / (Alpha/(1-prescott_7074['tau']) * prescott_7074['c2y']) + (1-Theta)

In [13]:
#Loss function 
#lossFunc = sum((prescott_9396['h'] - model_9396)**2 + (prescott_7074['h'] - model_9396)**2)

In [14]:
def LossFunc(Theta, prescott_9396, prescott_7074):
    model_9396 = 100 * (1-Theta) / (Alpha/(1-prescott_9396['tau']) * prescott_9396['c2y']) + (1-Theta)
    model_7074 = 100 * (1-Theta) / (Alpha/(1-prescott_7074['tau']) * prescott_7074['c2y']) + (1-Theta)
    loss = sum((prescott_9396['h'] - model_9396)**2) + sum((prescott_7074['h'] - model_7074)**2)

In [15]:
alfa = scipy.optimize.fmin(func=LossFunc(prescott_9396, prescott_7074,prescott_7074), x0=Alpha)
alfa = alfa.astype(int)
print(alfa)

TypeError: unsupported operand type(s) for -: 'int' and 'str'